//scss global variables

//left slidebar menu width
$base-menu-width:260px;
$base-menu-min-width:48px;
//left slidebar menu color
$base-menu-background:#001529;

//top navi bar height
$base-tabbar-height: 50px;


//logo height
$base-menu-logo-height: 50px;
//left menu bar font size
$base-logo-title-fontSize: 20px;